#Bar-charts{
    padding: 4rem;
    position: relative;
    padding-top: 1.5rem;

}
.bar-chart-label{
    margin-bottom: 4.5rem;
    margin-top: 4.5rem;
}
.MalicAcidText{
    position: absolute;
    transform: rotate(270deg);
    left: -4rem;
    top: 55%;
}
.AlcoholText{
    position: absolute;
    bottom: 0;
    left: 40%;   
}